<!DOCTYPE html>
<html lang="en">
<body>
<div id="msg"></div>
<input type="text" id="text" onkeypress="goPages()">
<input id="send" type="submit" value="send" onclick="send()">
</body>
<script>
    var msg = document.getElementById("msg");
    var wsServer = 'ws://10.26.11.108:7891/myWebSocket';
    var websocket = new WebSocket(wsServer);
    //监听连接打开
    websocket.onopen = function (evt) {
        msg.innerHTML = "The connection is open";
    };

    //监听服务器数据推送
    websocket.onmessage = function (evt) {
        msg.innerHTML += "<br>" + evt.data;
    };

    //监听连接关闭
    websocket.onclose = function (evt) {
        alert("连接关闭");
    };

    function send() {
        var text = document.getElementById("text").value;
        websocket.send(text);
        document.getElementById("text").value = "";
    }


    document.getElementById("text").goPages = function () {
        var value = document.getElementById("text").value;
        if (value != null) {
            send();
        }
        console.log(value);
    };
</script>
</html>